<div class="container">
    <div class="social-content">
        <div class="social-content-box">
            <div class="social-item">
                <a href="#"><i class="icon-twitter"></i></a>
            </div>
            <div class="social-item">
                <a href=""><i class="icon-gplus"></i></a>
            </div>
            <div class="social-item">
                <a href=""><i class="icon-pinterest"></i></a>
            </div>
            <div class="social-item">
                <a href=""><i class="icon-instagram"></i></a>
            </div>
            <div class="social-item">
                <a href=""><i class="icon-facebook"></i></a>
            </div>
        </div>

    </div>
</div>

