@media screen and (max-width: 992px){
	.navbar-nav>li {
		margin: 0 8px;
	}
	.title-head, .title-head-2, .left-contact .title-head{
		font-size: 26px;
	}
	.service-item, .img-service , .sv-intro{
		align-items: center;
		margin-top: 40px !important;
	}
}

@media (min-width: 1000px){
	.opacity{
		display: none;
	}
	.title-head-2::after{
		content: "";
		position: absolute;
		top: -15px;
		right: 5px;
		height: 120px;
		width: 1px;
		background-color: #fff;
	}
}
@media screen and (min-width: 1200px) {
	.title-head-2::after{
		right: 40px;
	}
	.np-content-right{
		padding-left: 70px;
	}
}
@media (min-width: 768px){
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}
	.navbar-right .dropdown-menu{
		left: 0;
	}
	.carousel-caption h1{
		font-size: 56px;
		margin-bottom: 25px;
	}
	.carousel-caption p{
		font-size: 20px;
		line-height: 26px;
	}
}
@media screen and (max-width: 992px){
	.os-post-image{
		width: 170px;
	}
	.entry-thumbnail{
	}
	.os-post-image img{
	}
	.os-post-content > a.os-post-title{
		font-size: 16px;
		line-height: 1.3;
		margin: 5px 0;
		-webkit-line-clamp: 2 !important;
		max-height: 21px;
	}
	.os-post-content {
		width: calc(100% - 170px - 20px);
		float: left;
	}
	.os-post-content .sapo-news p{
		-webkit-line-clamp: 1 !important;
		max-height: 22px;
		margin-bottom: 5px;
	}
	.os-post-content .sapo-news{
		margin-bottom: 0;
	}
	.os-post-item{
		margin-bottom: 20px;
	}
	.nav-date li {
		font-size: 12px;
		padding-right: 5px;
	}
	.more{
		font-size: 14px;
	}
	.np-content-left, .np-content-right{
		margin-top: 30px;
	}
	.product-top .title-head-2{
		margin-top: 20px !important;
	}
	.name-author{
    	margin: 10px 0;
    }
    .more-cmt{
    	margin-top: 0;
    }

}
@media screen and (max-width: 768px){
	#header-mobile{
        display: block;
        position: relative;
        z-index: 2;
    }
    #header-des{
        display: none;
    }
    .nav-top{
    	margin-right: 0;
    	margin-top: 0;
    	width: 100%;
    	border-bottom: 1px solid #353331;
    	padding-bottom: 5px;
    	margin-bottom: 10px;
    	font-size: 12px;
    }
    .nav-top li{
    	padding: 0px;
    	width: calc(100% / 3);
    	text-align: center;
    }
    .nav-top li a{
    	padding: 0;
    	font-size: 11px;
    }
    .nav-top li:last-child::before{
    	content: "";
    	width: 0px !important;
    }
    #footer .ft-heading{
    	font-size: 18px;
    }
    #footer{
    	font-size: 16px;
    	padding: 40px 0 30px;
    }
    .social-content .social-item{
    	width: 100px;
    }
    #social, .social-content, .social-content .social-item{
    	height: 50px;
    	line-height: 50px;
    }
    .ac-heading{
    	min-height: 55px;
		max-height: 54px;
    	overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2 !important;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
    }
    .map{
    	margin-top: 30px;
    	max-height: 450px;
    }
    .map iframe{
    	max-height: 450px;
    }

}

@media (max-width: 640px){
	.carousel-caption p{
		max-height: 54px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2 !important;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.title-head{
		font-size: 26px;
	}
	#project, #product{
		margin-top: 30px !important;
	}
	#product .title-head-2{
		font-size: 26px;
		margin-bottom: 20px !important;
	}
	#project .pr-video{
		width: 100%;
		max-height: 250px;
		margin-bottom: 30px;
		margin-right: 0;
	}
	#about-page .ab-img{
		width: 100%;
		margin-bottom: 30px;
		margin-right: 0;
	}
	#product .product-top{
		padding: 30px 0;
		margin-bottom: 40px;
	}
	#product .product-ct .pd-item{
		margin-bottom: 30px;
	}
	.menu-ft, .follow{
		padding-left: 0 !important;
	}
	.title-head-2::after{
		width: 0;
	}
	.breadcrumb{
		margin-top: 30px;
	}
	#about-page, #project-page{
		margin-top: 40px;
	}
	.ab-img{
		margin-bottom: 30px;
	}
	.np-content-right{
		margin-bottom: 40px;
	}
	.left-contact .title-head{
		font-size: 22px;
	}
}
@media screen and (max-width: 639px) {
	.ft-content{
		margin-bottom: 30px;
	}
	#footer .menu-ft .ft-heading::after{
		max-width: 100%;
	}
	#footer{
		padding: 40px 0 0;
	}
	#social{
		margin-top: 0 !important;
	}
	.product-ct .pd-image{
		margin-bottom: 30px;
	}
	.ac-heading{
    	min-height: auto;
		max-height: auto;
    	overflow: visible;
    	display: -webkit-box;
    	-webkit-line-clamp: 3 !important;
    	-webkit-box-orient: vertical;
    }
    .about-item{
    	margin-bottom: 30px;
    	padding: 26px;
    }
    #about{
    	margin-top: 40px;
    }
    #carousel-id iframe{
    	max-height: 300px;
    }
    .ap-content{
    	margin-bottom: 30px;
    }
    .service-item .sv-image, .service-item .sv-text {
    	width: 100%;
    }
    .service-item .sv-image {
    	order: 9;
    	margin: 0 0 20px 0 ;
    	padding: 0;
    }
    .service-item .sv-image img{
    	width: 100%;
    }
    .service-item .sv-text {
    	order: 10;
    }
    #contact .form-horizontal{
    	margin-top: 20px;
    }
    .contact-ct{
    	margin-top: 30px !important;
    }
	.breadcrumb>li+li:before{
		padding: 0 5px;
	}
	.post-comment .comment:last-child{
		margin-bottom: 30px;

	}

}
@media screen and (max-width: 530px){
	.social-content .social-item {
		width: 70px;
	}
	#social, .social-content, .social-content .social-item{
		height: 49px;
	}
}
@media screen and (max-width: 426px){
	.go-top{
		bottom: 10px;
		right: 10px;
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	.breadcrumb{
		font-size: 16px;
	}
	.social-content .social-item {
		width: 60px;
	}
	.avatar{
		width: 100px;
		height: 100px;
	}
	.main-cmt {
		margin-left: 110px;
	}
}
@media screen and (max-width: 360px){
	.footer-end {
		font-size: 11px;
	}
	.nav-top{
		font-size: 11px;
	}
	.social-content .social-item i:before {
		font-size: 20px;
	}
	.os-post-image {
		width: 100%;
	}
	.os-post-image img {
		width: 100%;
	}
	
	.np-content-left .os-post-content {
		float: left;
		width: 100%;
		margin-top: 20px;
	}
	.dangky-popup{
		top: 5%;
	}
	.os-post-content .sapo-news {
		margin-bottom: 20px;
	}
	.social-content .social-item {
		width: 55px;
	}
	.avatar{
		width: 55px;
		height: 55px;
	}
	.main-cmt {
		margin-left: 65px;
	}

}