@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');

@font-face {
    font-family: 'UTM Aptima';
    font-style: normal;
    font-weight: 400;
    src: local('UTM Aptima'), local('UTM Aptima'), url('../font/UTM Aptima.ttf');
}

@font-face {
    font-family: 'UTM Aptima';
    font-style: normal;
    font-weight: 700;
    src: local('UTM AptimaBold'), local('UTM AptimaBold'), url('../font/UTM AptimaBold.ttf');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato-Light'), local('Lato-Light'), url('../font/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: local('Lato-Semibold'), local('Lato-Semibold'), url('../font/Lato-Semibold.ttf');
}

html {
    height: 100%;
    min-height: 100%
}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        transition: 0.4s;
    }

    a:hover, a:focus {
        text-decoration: none;
    }

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito',Helvetica,Arial,sans-serif;
    color: #000;
    position: relative;
    padding-bottom: 0px;
    min-height: 100%;
    height: auto;
    font-size: 16px;
    overflow-x: hidden;
    line-height: 22px;
}

[type="text"], [type="number"], [type="password"], [type="email"], select, option, textarea {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    background: transparent;
    color: #151515;
    border: 2px solid #E4E4E4;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border-radius: 0;
}
/* header */

#header-des {
    background: #0A0A0A;
    box-shadow: 3px 1px 10px rgba(0,0,0,0.05);
    position: relative;
    height: 150px;
}
/* menu top */
.nav-top {
    float: right;
    color: #fff;
    margin-top: 30px;
    margin-right: -15px;
}

    .nav-top li {
        float: left;
        display: block;
        position: relative;
    }

        .nav-top li:before {
            content: "";
            width: 1px;
            height: 14px;
            background: #fff;
            position: absolute;
            right: 0;
            bottom: 5px;
        }

        .nav-top li a {
            padding: 10px;
            font-size: 14px;
        }

    .nav-top .dropdown-menu {
        min-width: 120px;
        border-radius: 0;
    }

        .nav-top .dropdown-menu li {
            padding: 0;
            border-right: none;
            width: 100%;
            text-align: left;
        }

            .nav-top .dropdown-menu li a {
                padding: 3px 10px;
            }

.header-button::before {
    content: '\e803';
    font-family: "fontello";
}

#toggle-search {
    float: right;
    background-position: 0;
    width: 22px;
    height: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0px 5px;
}

    #toggle-search:after {
        -moz-transition: top, 0.5s;
        -o-transition: top, 0.5s;
        -webkit-transition: top, 0.5s;
        transition: top, 0.5s;
        position: absolute;
        top: 52px;
        margin-top: 5px;
        right: 5px;
        margin-left: -8px;
        content: "";
        border-color: transparent transparent #e1e4e7;
        border-style: solid;
        border-width: 4px 4px 6px;
    }

    #toggle-search.open:after {
        top: 15px;
    }

#search-form {
    z-index: 1;
    -moz-transition: max-height, 0.5s;
    -o-transition: max-height, 0.5s;
    -webkit-transition: max-height, 0.5s;
    transition: max-height, 0.5s;
    position: absolute;
    top: 60px;
    right: 0;
    width: 28%;
    max-height: 0;
    overflow: hidden;
    background-color: #f9f9f9;
}

    #search-form.open {
        max-height: 40px;
    }

    #search-form fieldset {
        position: relative;
        margin: 0 45px 0 0;
        padding: 0;
        border: none;
    }

    #search-form input {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        height: 40px;
    }

        #search-form input[type="search"] {
            width: 100%;
            padding: 0 5px 0 22px;
            background: transparent;
            border: none;
            color: #0A0A0A;
        }

        #search-form input[type="submit"] {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 60px;
            margin: 0;
            padding: 0;
            font-weight: 700;
            text-transform: uppercase;
            color: #516270;
            background: #e6e6e6;
            border: none;
            cursor: pointer;
            line-height: 40px;
            font-size: 10pt
        }
/* end */
#toggle-search-mb {
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0px 5px;
}

#header-mobile .top-bar i, #header-mobile .header-button::before {
    font-size: 20px;
    color: #fff;
}

#toggle-search-mb:after {
    -moz-transition: top, 0.5s;
    -o-transition: top, 0.5s;
    -webkit-transition: top, 0.5s;
    transition: top, 0.5s;
    position: absolute;
    top: 53px;
    opacity: 0;
    margin-top: 5px;
    right: 5px;
    margin-left: -8px;
    content: "";
    border-color: transparent transparent #e1e4e7;
    border-style: solid;
    border-width: 4px 4px 6px;
}

#toggle-search-mb.open:after {
    top: 53px;
    opacity: 1;
    overflow: auto;
}

#search-form-mb {
    z-index: 1;
    -moz-transition: max-height, 0.5s;
    -o-transition: max-height, 0.5s;
    -webkit-transition: max-height, 0.5s;
    transition: max-height, 0.5s;
    position: absolute;
    top: 100%;
    right: 0;
    width: 230px;
    max-height: 0;
    overflow: hidden;
    background-color: #f9f9f9;
}

    #search-form-mb.open {
        max-height: 40px;
    }

    #search-form-mb fieldset {
        position: relative;
        margin: 0 45px 0 0;
        padding: 0;
        border: none;
    }

    #search-form-mb input {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        height: 40px;
    }

        #search-form-mb input[type="search"] {
            width: 100%;
            padding: 0 5px 0 22px;
            background: transparent;
            border: none;
            color: #0A0A0A;
        }

        #search-form-mb input[type="submit"] {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 60px;
            margin: 0;
            padding: 0;
            font-weight: 700;
            text-transform: uppercase;
            color: #516270;
            background: #e6e6e6;
            border: none;
            cursor: pointer;
            line-height: 40px;
        }
/* menu */

.dropdown:hover .menu1 {
    display: block !important;
    z-index: 9999;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.1);
}

.navbar-default {
    background-color: transparent;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    border: none;
}

.navbar-nav > li {
    margin: 0 17px;
}

    .navbar-nav > li.dropdown {
        margin: 0 17px;
        position: relative;
    }

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 24px 0px;
}

    .navbar-default .navbar-nav > li > a.active {
        color: #F8C64B;
    }

.dropdown-menu > li > a.active {
    background-color: #F8C64B;
}

.navbar-nav > li:last-child {
    margin-right: 0;
}

.navbar-brand {
    padding: 30px 0px 20px 0;
    height: auto;
}

    .navbar-brand > img {
        max-height: 100px;
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #F8C64B;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #F8C64B;
}

.navbar-right {
    float: right !important;
    position: absolute;
    right: 0;
    bottom: 0;
}

.navbar-nav > li.dropdown::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    left: 25px;
    bottom: -10px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
    -webkit-transform: rotate(45deg);
    visibility: hidden;
}

.navbar-nav > li.dropdown:hover::after {
    visibility: visible;
}

.dropdown-menu {
    padding: 0;
}

    .dropdown-menu > li > a {
        padding: 10px 10px;
        border-bottom: 1px solid #ddd;
        text-decoration: none !important;
        display: block;
        line-height: 20px;
    }

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: #FFDB00;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
}

/* menu mobile */

#header-mobile {
    display: none;
}

#header-mobile {
    background: #0A0A0A;
    padding: 5px;
}

.head-menu.open {
    left: 0;
}

.head-menu {
    background: #0A0A0A;
    bottom: 0;
    left: -82%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 82%;
    z-index: 999;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

    .head-menu .close-menu {
        position: absolute;
        padding: 10px;
        right: 0;
        top: 0;
    }

.head-search {
    background: #fff;
    bottom: 0;
    height: 50px;
    right: -100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

    .head-search.open {
        right: 0;
    }

    .head-search input {
        height: 50px;
        padding: 10px;
        font-size: 15px;
        border: none;
        width: 100%;
        color: #000;
        font-size: 17px;
    }

    .head-search .searchnow {
        position: absolute;
        right: 0;
        line-height: 50px;
        width: 50px;
        text-align: center;
    }

.top-bar > a {
    padding: 0 10px;
    position: relative;
}

.head-menu .logo-head {
    display: block;
}

.logo-head img {
    max-height: 62px;
}

.bl-category li a {
    display: block;
    padding: 10px 10px 10px 20px;
    color: #fff;
    border-bottom: 1px solid #353331;
    font-size: 16px;
    text-transform: uppercase;
}

    .bl-category li a.active {
        color: #f8c64b;
    }

.bl-category {
    margin-bottom: 20px;
    padding-left: 0px;
}

    .bl-category i {
        font-size: 12px;
    }

.head-menu .dropdown-menu-mobi {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .head-menu .dropdown-menu-mobi li a {
        font-size: 16px;
        text-transform: none;
    }

.opacity {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    z-index: 2;
    top: 0;
    position: fixed;
    left: 0;
}

.top-head-menu {
    background: #0A0A0A;
    border-bottom: 0.3px solid #353331;
}

.pointer {
    cursor: pointer;
}

.pd-15 {
    padding: 15px !important;
}

.animated {
    animation-fill-mode: none !important;
}

.top-header {
    line-height: 34px;
    border-bottom: 1px solid #f3f3f3;
}

    .top-header i {
        color: #34b5f7;
    }
/* end */

/* icon */
[class*="icon-"] {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
}

.icon-left-control {
    height: 35px;
    width: 35px;
    background-image: url('../images/controls.png');
    background-position: 0px 0px;
    left: 30%;
}

.icon-right-control {
    height: 35px;
    width: 35px;
    background-image: url('../images/controls.png');
    background-position: -42px 0px;
    right: 30%;
}

.icon-language {
    height: 11px;
    width: 1em;
    margin-right: .2em;
    line-height: 1em;
    margin-left: .2em;
    background-image: url('../images/icon-language.svg');
}

.icon-ft {
    background-image: url('../images/icon-footer.svg');
}

.icon-phone {
    height: 24px;
    width: 24px;
    background-position: 0 0;
    background-size: cover;
}

.icon-mobile {
    height: 24px;
    width: 24px;
    background-position: -24px 0;
    background-size: cover;
}

.icon-mail {
    height: 24px;
    width: 24px;
    background-position: -48px 0;
    background-size: cover;
}

.icon-web {
    height: 24px;
    width: 24px;
    background-position: -72px 0;
    background-size: cover;
}

.icon-controls {
    top: 50%;
    transform: translateX(0%) translateY(-50%);
    position: absolute;
    display: inline-block;
    background-size: cover;
}

.overlay-bg {
    background-color: rgba(43,41,37,0.72);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption {
    top: 50%;
    transform: translateX(0%) translateY(-50%);
    -webkit-transform: translateX(0%) translateY(-50%);
    color: #FFDB00;
    text-align: left;
    text-shadow: none;
    z-index: 1;
    bottom: auto;
    padding: 0;
}

    .carousel-caption h1 {
        margin-top: 0;
    }

.carousel-indicators {
    display: none;
}
/* end-icon */
.title-head {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}

.title-head-2 {
    font-size: 35px;
    font-weight: bold;
    color: #FFDB00;
}

.pr-box .pr-video {
    margin-right: 30px;
}

#project .pr-content p {
    text-align: justify;
}
/* product */
.product-top {
    background: #0A0A0A;
    padding: 70px 0;
    margin-bottom: 65px;
}

#product .pd-content .pd-desc {
    color: #fff;
    text-align: justify;
}

.product-ct .pd-image {
    margin-bottom: 45px;
    overflow: hidden;
    width: 100%;
}

    .product-ct .pd-image img {
        margin: 0 auto;
    }

        .product-ct .pd-image img:hover {
            transform: scale(1.05, 1.05);
            -webkit-transition: all 0.3s;
        }

.pd-item-content {
    text-align: center;
}

.btn-more {
    height: 46px;
    line-height: 46px;
    width: 170px;
    border-radius: 0px;
    text-transform: uppercase;
    background: #0A0A0A;
    color: #FFDB00;
    padding: 0;
}
/* social */
#social {
    background: #0A0A0A;
    border-bottom: 1px solid #ccc;
    height: 85px;
    overflow: hidden;
}

.social-content {
    width: 100%;
    text-align: center;
    height: 85px;
    display: inline-block;
}

    .social-content .social-content-box {
        display: inline-block
    }

    .social-content .social-item {
        width: 190px;
        height: 100%;
        float: left;
        line-height: 85px;
        border-left: 1px solid #ccc;
    }

        .social-content .social-item i {
            color: #FFDB00;
        }

            .social-content .social-item i:before {
                font-size: 24px;
            }

        .social-content .social-item:last-child {
            border-right: 1px solid #ccc;
        }
/* end */
#footer {
    background: #0A0A0A;
    padding: 80px 0 50px;
    /* font-family: 'Lato'; */
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}

    #footer .ft-heading {
        font-size: 25px;
        font-weight: 600;
        margin: 0;
        position: relative;
        text-transform: uppercase;
    }

        #footer .ft-heading::after {
            content: "";
            position: absolute;
            bottom: -14px;
            left: 0px;
            height: 1px;
            width: 100%;
            background-color: #fff;
        }

    #footer .menu-ft .ft-heading::after {
        max-width: 180px;
    }

    #footer .follow .ft-heading::after {
        height: 0;
    }

.line {
    height: 0.5px;
    width: 100%;
    background-color: #fff;
}

#footer .ft-content {
    margin-top: 30px;
}

    #footer .ft-content i::before {
        width: auto;
        margin-left: 0;
        margin-right: 5px;
    }

.contact-it {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    .contact-it i {
        margin-right: 10px;
    }

.form-email {
    width: 100%;
    position: relative;
}

    .form-email input {
        box-shadow: none;
        border: none;
        background: #fff;
        height: 36px;
    }

.send {
    background: #BFBFBF;
    width: 36px;
    position: absolute;
    right: 0;
    color: #000;
    top: 0;
    text-align: center;
    height: 36px;
    line-height: 36px;
}

.menu-ft ul li a {
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
}

.footer-end {
    background: #0A0A0A;
    height: 65px;
    line-height: 65px;
    color: #fff;
    text-align: center;
    /* font-family: 'Lato'; */
    border-top: 1px solid #ccc;
    font-weight: 300;
    font-size: 16px;
    overflow: hidden;
}

/* backtop */

.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    display: none;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    z-index: 9999;
    line-height: 35px;
}

    .go-top:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }


/* About us */
.breadcrumb {
    margin-top: 40px;
    padding: 5px 0px;
    margin-bottom: 0;
    list-style: none;
    border-radius: 4px;
    background: #fff;
    color: #87847F;
    text-transform: uppercase;
    border-bottom: 1px solid #87847F;
    border-radius: 0;
    font-size: 22px;
}

    .breadcrumb > li + li:before {
        content: '/';
        padding: 0 15px;
        color: #87847F;
        font-size: 20px;
    }

    .breadcrumb > .active {
        color: #87847F;
        display: initial;
    }

    .breadcrumb > .active-project {
        color: #0A0A0A;
        display: initial;
    }

/* about list */
#about {
    margin-top: 90px;
}

.about-item {
    position: relative;
    background: #EAE8E8;
    padding: 35px 35px;
    /* cursor: pointer; */
    margin-bottom: 50px;
}

.ac-heading {
    font-size: 23px;
    color: #000;
    text-transform: uppercase;
}

.ac-link {
    text-transform: uppercase;
}

.about-item:hover {
    background: #0A0A0A;
    color: #fff;
    -webkit-transition: all 0.5s;
}

    .about-item:hover .ac-heading {
        color: #FFDB00;
    }

.ac-desc .p-desc, .ph-heading {
    max-height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.abi-button {
    height: 57px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.about-item:hover .abi-button {
    opacity: 1;
    transition: all 0.3s;
}

.icon-ab-more {
    width: 57px;
    height: 57px;
    background: url('../images/icon-ab-more.svg');
}

.icon-about {
    background: url('../images/icon-about.svg');
}

.icon-ab-1 {
    width: 160px;
    height: 144px;
    background-position: -17px -14px;
}

.about-item:hover .icon-ab-1 {
    background-position: -17px -170px;
}

.icon-ab-2 {
    width: 160px;
    height: 144px;
    background-position: -210px -14px;
}

.about-item:hover .icon-ab-2 {
    background-position: -210px -170px;
}

.icon-ab-3 {
    width: 160px;
    height: 144px;
    background-position: -400px -14px;
}

.about-item:hover .icon-ab-3 {
    background-position: -400px -170px;
}

.icon-ab-4 {
    width: 160px;
    height: 144px;
    background-position: -589px -14px;
}

.about-item:hover .icon-ab-4 {
    background-position: -589px -170px;
}

.icon-ab-5 {
    width: 160px;
    height: 144px;
    background-position: -759px -14px;
}

.about-item:hover .icon-ab-5 {
    background-position: -759px -170px;
}

.icon-ab-6 {
    width: 160px;
    height: 144px;
    background-position: -950px -14px;
}

.about-item:hover .icon-ab-6 {
    background-position: -950px -170px;
}

#about-page {
    margin-top: 60px;
}

    #about-page .ap-content {
        margin-top: 20px;
        text-align: justify;
    }

    #about-page .ab-img {
        width: 50%;
        margin-right: 30px;
    }

.mg-ap {
    margin-top: 50px;
}

#about-page .tt::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 3px;
    height: 100%;
    width: 3px;
    background-color: #000;
}

.ap-content-tt {
    padding: 10px 0;
}

.fl-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* service */
.service-item {
    float: left;
}

    .service-item .sv-image {
        float: left;
        float: left;
        margin-right: 15px;
        padding-right: 15px;
        width: 50%;
    }

.sv-image img {
    margin: 0 auto;
}

.service-right-img .sv-image {
    float: right;
    margin-left: 15px;
    padding-left: 15px;
    margin-right: 0;
    padding-right: 0;
}

#product-slide {
    padding: 40px 0;
    background: #DCDADB;
}

#myproduct-slider .owl-prev, #myproduct-slider .owl-next {
    width: 34px;
    height: 34px;
    background-size: 34px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: red;
}

#myproduct-slider .owl-prev {
    background: url('../images/btn-prev.svg') no-repeat;
    left: 15px;
}

#myproduct-slider .owl-next {
    background: url(../images/btn-prev.svg) no-repeat;
    transform: translateY(-50%) scale(-1);
    right: 15px;
}

.product-item img {
    margin: 0 auto;
}
/* news */
.np-content-left, .np-content-right {
    float: left;
    width: 100%;
    margin-top: 60px;
}

.os-post-item {
    margin-bottom: 20px;
    width: 100%;
}

.os-post-item {
    margin-bottom: 30px;
    float: left;
}

.os-post-image {
    width: 370px;
    float: left;
    /* height: 270px; */
    margin-right: 20px;
}

.entry-thumbnail {
    /* height: 270px; */
    overflow: hidden;
}

.os-post-image img {
    /* min-height: 270px; */
    width: 100%;
}

.os-post-content {
    width: calc(100% - 370px - 20px);
    float: left;
}

    .os-post-content > a.os-post-title {
        font-size: 25px;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 35px;
        margin: 30px 0;
        font-weight: 700;
        max-height: 69px;
        text-transform: uppercase;
    }

    .os-post-content .sapo-news p {
        display: -webkit-box;
        -webkit-line-clamp: 3 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 66px;
    }

    .os-post-content .sapo-news {
        margin-bottom: 40px;
    }

.more {
    text-transform: uppercase;
}

.nav-date {
    display: inline-block;
}

    .nav-date li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 15px;
        padding-right: 12px;
    }

.hot-service {
    color: #3F3F3F;
    margin-top: 30px;
}

.hs-heading {
    color: #3F3F3F;
    font-size: 19px;
    text-transform: uppercase;
    margin: 0;
    position: relative;
}

    .hs-heading::after {
        content: "";
        position: absolute;
        bottom: -14px;
        left: 0px;
        height: 1px;
        width: 100%;
        background-color: #3F3F3F;
    }

.hs-content {
    margin-top: 30px;
}

    .hs-content i::before {
        width: auto;
        margin-left: 0;
        margin-right: 5px;
    }
/* contact */
.left-contact .title-head {
    font-size: 35px;
    margin-bottom: 20px;
}

.left-contact .ct-bold {
    font-weight: 700;
}

.left-contact .ct-desc {
    margin-bottom: 30px;
}

.form-horizontal .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #EAE8E8;
    background-image: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-horizontal span {
    margin-bottom: 10px;
    display: block;
}

.form-horizontal textarea.form-control {
    height: 220px;
}

.contact button {
    border-width: 0;
    width: 170px;
    height: 40px;
    text-transform: uppercase;
    color: #fff;
    background: #0A0A0A;
    box-shadow: none;
    color: #FFDB00;
}

#contact .icon-ft {
    background-image: url('../images/icon-contact.svg');
}

#contact .icon-phone {
    height: 24px;
    width: 24px;
    background-position: 0 0;
    background-size: cover;
}

#contact .icon-mobile {
    height: 24px;
    width: 24px;
    background-position: -24px 0;
    background-size: cover;
}

#contact .icon-mail {
    height: 24px;
    width: 24px;
    background-position: -48px 0;
    background-size: cover;
}

#contact .icon-web {
    height: 24px;
    width: 24px;
    background-position: -72px 0;
    background-size: cover;
}

#contact .ct-image {
    margin-top: 42px;
}

    #contact .ct-image img {
        margin: 0 auto;
    }

.map {
    margin-top: 60px;
    max-height: 650px;
}
/* project-page */
#project-page {
    margin-top: 45px;
}

.pp-item {
    position: relative;
    margin-bottom: 30px;
}

.pp-button {
    height: 45px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.pp-item:hover .pp-button {
    opacity: 1;
    transition: all 0.3s;
}

.icon-pr-more {
    width: 45px;
    height: 45px;
    background: url('../images/icon-pr-more.svg');
}

.pp-hover {
    position: absolute;
    background: #0A0A0A;
    padding: 35px 35px;
    margin-bottom: 50px;
    top: 0;
    height: 100%;
    opacity: 0;
    color: #fff;
    width: 360px;
}

.ph-heading {
    color: #FFDB00;
    font-size: 23px;
    text-transform: uppercase;
}

.ph-desc .p-desc {
    max-height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pp-item .pp-button .icon-ab-more {
    width: 45px;
    height: 45px;
    background-size: 100%;
}

.pp-item:hover .pp-hover {
    opacity: 1;
    transition: transform .4s, opacity .5s;
}
/* project-detail */
.blog-heading {
    margin-top: 50px;
    padding: 5px 0px;
    margin-bottom: 0;
    list-style: none;
    border-radius: 4px;
    background: #fff;
    color: #87847F;
    text-transform: uppercase;
    border-bottom: 1px solid #87847F;
    border-radius: 0;
    font-size: 22px;
}

.list-blog {
    margin-top: 20px;
    column-count: 2;
}

    .list-blog li {
        margin-bottom: 10px;
    }

        .list-blog li i::before {
            margin-left: 0;
            margin-right: 5px;
            font-size: 12px;
        }
/* detail */
.cmt-heading {
    font-size: 23px;
    color: #323232;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.avatar {
    width: 200px;
    height: 200px;
    float: left;
}

    .avatar img {
        width: 100%;
    }

.main-cmt {
    margin-left: 230px;
}

.name-author {
    font-weight: bold;
    margin: 20px 0;
}

.more-cmt {
    margin-top: 20px;
    text-transform: uppercase;
    float: right;
}

.comment {
    float: left;
    padding: 20px 0px;
    border-bottom: 1px solid #666;
}

.pagination-area {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border-top: 1px solid #e5e5e5;
    margin: 22px 0 0;
    padding-top: 20px;
    text-align: center;
    display: inline-block;
    width: 100%
}

    .pagination-area ul {
        margin-bottom: 0px
    }

        .pagination-area ul li {
            background: #f5f5f5;
            color: #393939;
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            height: 30px;
            line-height: 30px;
            margin: 0 0 0 5px;
            width: 30px;
        }

            .pagination-area ul li a {
                border: 1px solid #e5e5e5;
                color: #363636;
                display: block;
                font-size: 12px;
                font-weight: 700;
                height: 30px;
                width: 30px;
                text-decoration: none;
                transition: all .4s ease-out .2s;
                border-radius: 3px;
            }

                .pagination-area ul li a:hover {
                    background: #e83f33;
                    border: 1px solid #e83f33;
                    color: #fff;
                }

                .pagination-area ul li a.active {
                    background: #e83f33;
                    border: 1px solid #e83f33;
                    color: #fff;
                    transition: all .4s ease-out .2s;
                }

.icon-twitter {
    padding-right: 5px
}

.product-item:hover .pp-hover {
    opacity: 1;
    transition: transform .4s, opacity .5s;
}
